body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #f0f8ff; /* AliceBlue */
}

h1 {
  color: #333;
}

#emoji-container {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.emoji {
  font-size: 2.5em;
  margin: 0 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.emoji:hover {
  transform: scale(1.3);
}

#input-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Mezera mezi inputem a tlačítkem */
}

#emoji-input {
  width: 350px;
  min-height: 80px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: #fff;
}

#clear-button {
  padding: 12px 25px;
  font-size: 16px;
  color: white;
  background-color: #f44336; /* Červená */
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#clear-button:hover {
  background-color: #d32f2f; /* Tmavší červená při najetí */
}
